.header {
    height: 6.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    width: 98vw;
    top: 0;
    left: 0;
}

.header-title {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.header-title-text {
    font: bold 2em 'Montserrat', sans-serif;
    color: #BADC58;
}

.header-options {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.content-options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
    height: 3.5em;
}

.text-option {
    font: bold 1em 'Mulish', sans-serif;
    color: #FFFFFF;
    z-index: 1;
    cursor: pointer;
}

.register-option {
    height: 100%;
    padding: 0.8em;
    background-color: #FFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font: bold 1em 'Mulish', sans-serif;
    color: #BADC58;
}
