.content {
    height: 98vh;
    width: 100%;
}

.home {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 100vh;
}

.search-recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 4;
}

.content-search {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 25.8em;
    margin-left: 12em;
}

.home-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    margin-top: 2em;
    width: 100%;
}


.button-search {
    margin-left: 1em;
    width: 3.2em;
    height: 3.2em;
    border-radius: 5px;
    border: none;
    background-color: #BADC58;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.home-text {
    text-align: left;
    font: 800 3em 'Montserrat', sans-serif;
}

.home-aside {
    display: flex;
    flex: 6;
}

.home-img {
    width: 100%;
    align-self: flex-start;
}

@media screen and (max-width: 1024px) {
    .home {
        flex-direction: column-reverse;
    }
    .content-search {
        padding: 1em;
        margin-left: 0px;
        width: 20em;
    }
    .home-aside {
        justify-content: flex-end;
        flex: 0;
    }
    .home-img {
        width: 80%;
    }
}