.join-body {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    height: 85vh;
    background-color: #FFF;
}

.join-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.join-member {
    width: 25em;
    margin-left: 12em;
}

.join-member h1 {
    font: bold 2em 'Montserrat', sans-serif;
    color: #2D3561;
}

.join-email {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.join-image-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;
    height: 100%;
}

@media screen and (max-width: 1024px) {
    .join-body {
        height: auto;
        flex-direction: column-reverse;
        
    }
    .join-image-content img{
        width: 100%;
    }
    .join-member {
        margin-left: 0;
        width: auto;
        padding: 2em;
    }
}